extends layout

block content

  include navigation

  section.error.white

    .center

      h1=title

      p Sorry for the inconvenience. Return to the <a href="/">homepage.</a>

      if error
        p.fail
          strong=error.message

        pre=message.stack

