nav.navigation

  span
    a(href='/')
      i(class='icon-search')
      | Search
  span
    a(href='#')
      i(class='icon-upload-cloud')
      | Import
  span
    a(href='/help')
      i(class='icon-help')
      | Help

  if user
    span.logout
      a(href='/logout')
        i(class='icon-logout')
        | Logout
    span.profile
      a(href='/profile')
        i(class='icon-user')
        | Profile
