html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background: #f0f0f4;
}

/*
Global font style
*/

h1 {
  margin-top: 0;
  font-size: 1.6em;
}

h2 {
  margin-top: 0;
  font-size: 1.3em;
}

h3 {
  margin: 1.5em 0 0.5em;
  font-size: 1em;
}

a {
  color: inherit;
}

code, pre {
  color: #b22222;
  font-size: 1.2em;
}

.fail {
  color: #b22222;
}

.warning {
  color: #ffa500;
}

.description {
  margin-top: -.5em;
}

/*
Global input element style
*/

fieldset {
  border: 0;
  padding: 0;
  margin: .5em 0;
  min-width: 0;
}

input,
button,
label {
  border: 0;
  font-size: 1em;
}

input {
  transition: border .2s ease;
}

input:focus,
button:focus {
  outline: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

::-webkit-input-placeholder {
  color: #889;
}

:-moz-placeholder {
  color: #889;
  opacity: 1;
}

::-moz-placeholder {
  color: #889;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #889;
}

/*
Specific element style
*/

.left {
  overflow: hidden;
  display: block;
}

.left input {
  width: 100%;
  height: 2em;
  line-height: 2;
  padding: 0 .4em;
  border: 2px solid #ccd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0;
}

.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
}

/*
Global page layout
*/

.center {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 2em;
}

.white {
  background: #fff;
  padding: 2.5em 0 3em;
  margin-bottom: 3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

/*
Login
*/

.login .center {
  max-width: 460px;
}

.login input:focus {
  border-color: #334;
}

.login .right {
  height: 2em;
  line-height: 2em;
  color: #fff;
  background: #334;
  text-align: center;
  width: 40px;
}

.login .submit {
  margin-top: 1em;
  width: 100%;
  height: 2em;
  text-align: center;
  color: #fff;
  background: #2e8b57;
  border-radius: 4px;
  cursor: pointer;
  transition: background .2s ease;
}

.login .submit:hover,
.login .submit:focus {
  background: #21653f;
}

/*
Navigation bar
*/

.navigation {
  font-size: .8em;
  color: #ccd;
  background: #334;
  padding: .5em;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  color: #fff;
}

.navigation .logout,
.navigation .profile {
  float: right;
}

.navigation span {
  margin: 0 .5em;
}

/*
Search
*/

.search .main {
  margin: 1.5em 0 2em;
}

.search .left input:focus {
  border-color: #2e8b57;
}

.search .submit {
  height: 2em;
  width: 110px;
  float: right;
  color: #fff;
  background: #2e8b57;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  text-align: left;
  padding: 2px 6px 3px 14px;
  transition: background .2s ease;
}

.search .submit:hover,
.search .submit:focus {
  background: #21653f;
}

.search .submit i {
  margin-left: 5px;
}

.search .options.sort {
  margin-top: -.25em;
}

.search .options > div {
  display: inline-block;
  white-space: nowrap;
}

.search .options strong {
  width: 3.5em;
  display: inline-block;
}

.search .options label {
  margin-right: .5em;
}

/*
Results
*/

.result .document {
  margin: 20px 0 40px;
  padding: 10px;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.result .document: before,
.result .document: after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}

.result .header {
  margin-top: 5px;
  color: #889;
}

.result .download {
  float: right;
  cursor: pointer;
}

.result .download a {
  display: inline-block;
  font-size: .8em;
  padding: 4px 5px;
  background: #889;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
  text-decoration: none;
  transition: background .2s ease;
}

.result .download a:hover {
  background: #667;
}

.result .hit {
  font-size: .9em;
}

.result .hit em {
  font-style: normal;
  font-weight: bold;
  background: #ffff00;
}

.result .count p:first-child {
  font-weight: bold;
}

/*
Help
*/

.help ul {
  list-style: none;
  padding: 0;
}
