.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 16, 0.7);
  text-align: center;
  z-index: 10;
  transition: opacity .3s ease;
  opacity: 0;
  overflow: auto;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  border: 0;
  font-size: 2em;
  color: #889;
}

.modal .close:hover {
  color: #000;
}
