html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background: #f0f0f4;
}

h1 {
  margin-top: 0;
  font-size: 1.5em;
}

a {
  color: inherit;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input, button, label {
  font-size: 1em;
  line-height: 1em;
}

input:focus,
button:focus {
  outline: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.center {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 2em;
}

.login {
  margin: 2em auto;
  max-width: 460px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  padding: 2em;
}

.login fieldset {
  margin: .5em 0;
}

.login input {
  width: 100%;
  padding: 0 .4em;
  height: 2em;
  border: 2px solid #ccd;
  border-radius: 4px;
}

.login input:focus {
  border-color: #6da56d;
}

.login .wrapper {
  background: #ccd;
  border-radius: 4px;
}

.login .icon {
  color: #334;
  float: left;
  line-height: 2;
  text-align: center;
  width: 30px;
}

.login .input {
  overflow: hidden;
  display: block;
}

.login .submit {
  height: 2em;
  margin-top: 1em;
  text-align: center;
  color: #fff;
  background: #6da56d;
  border: 0;
  border-radius :4px;
  cursor: pointer;
  padding: 0 10px;
  transition: background .2s ease;
}

.login .submit:hover,
.login .submit:focus {
  background: #4f874f;
}

.search {
  background: #fff;
  padding: 2em 0 3em;
  margin-bottom: 3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

.search .user {
  font-size: .8em;
  color: #fff;
  background: #334;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 4px;
  padding: .5em;
}

.search .input,
.search .submit {
  height: 2em;
  display: inline-block;
}

.search .input {
  width: calc(100% - 110px);
  padding: 0 .4em;
  border: 2px solid #ccd;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: border .2s ease;
}

.search .input:focus {
  border-color: #6da56d;
}

.search .submit {
  width: 110px;
  float: right;
  color: #fff;
  background: #6da56d;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  text-align: left;
  padding: 2px 6px 3px 14px;
  transition: background .2s ease;
}

.search .submit:hover,
.search .submit:focus {
  background: #4f874f;
}

.search .submit div {
  display: inline-block;
  white-space: nowrap;
  vertical-align: text-bottom;
}

.search .submit span {
  margin-right: .6em;
}

.search .submit .loading {
  visibility: hidden;
}

.search .mode {
  margin: 1em 0 .2em;
}

.search .options > div {
  display: inline-block;
  white-space: nowrap;
}

.search .options strong {
  width: 3.5em;
  display: inline-block;
}

.search .options label {
  margin-right: .5em;
}

.result .document {
  margin: 20px 0 40px;
  padding: 10px;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.result .document: before,
.result .document: after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}

.result .header {
  margin-top: 5px;
  color: #889;
}

.result .download {
  float: right;
  cursor: pointer;
}

.result .download a {
  display: inline-block;
  font-size: .8em;
  padding: 4px 5px;
  background: #889;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
  text-decoration: none;
  transition: background .2s ease, border .2s ease;
}

.result  .download a:hover {
  background: #667;
}

.result .hit {
  font-size: .9em;
}

.result .hit em {
  font-style: normal;
  font-weight: bold;
  background: #ffff00;
}

.result .count p:first-child {
  font-weight: bold;
}

.result .error {
  color: #b22222;
}

.result .warning {
  color: #ffa500;
}

.loading {
  border-radius: 50%;
  width: 19px;
  height: 19px;
  border: 3px solid rgba(255, 255, 255, .2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  margin: 0;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 360px) {

  .search .input {
    width: 100%;
    border-right: 2px solid #ccd;
    border-radius: 4px;
  }

  .search .submit {
    width: 100%;
    margin-top: .5em;
    text-align: center;
    border-radius: 4px;
  }

  .search .submit > div {
    width: 100%;
  }
}
