extends layout

block content

  div.fail

    div.center

      h1=title

      p Sorry for the inconvenience. Return to the <a href="/">homepage.</a>

      if error
        p.error
          strong=error.message

        pre=message.stack

