extends layout

block content

  include navigation

  .help

    .center

      h2 About the search
      p There are four different ways to search for whole sentences (full-text) or a single words (term):

      h3 Standard search
      p Full-text search. Finds exact word combinations like <code>John Doe</code> . Diacritcs are ignored and a search for <code>John Doe</code>  will also find <code>Jóhñ Döé</code> .

      h3 Custom search
      p Full-text search. By default, the custom search finds all documents that contain <code>John</code>  AND <code>Doe</code> . Supports wildcards and simple search operators:
      ul
        li <code>+</code>  signifies AND operation
        li <code>|</code>  signifies OR operation
        li <code>-</code>  negates a single token
        li <code>"</code>  wraps a number of tokens to signify a phrase for searching
        li <code>*</code>  at the end of a term signifies a prefix query
        li <code>~N</code>  after a word signifies edit distance (fuzziness)
        li <code>~N</code>  after a phrase signifies slop amount

      h3 Fuzzy search
      p Term-based search. Finds words, even if they contain a typo or OCR mistake. A search for <code>Jhon</code>  or <code>J°hn</code>  will also find <code>John</code> .

      h3 Regex search
      p Term-based search for experts. Uses Regex patterns like <code>J.h*</code>  for searching. This Regex will find words such as <code>John</code> , <code>Jahn</code>  and <code>Johnson</code> .
