extends layout

block content

  div.login

    form(action='/login' method='post')

      h1 Mammon Search

      fieldset
        label Username:
        br
        input(type='text' name='username')

      fieldset
        label Password:
        br
        input(type='password' name='password')

      fieldset
        input.submit(type='submit' value='Login')
