nav.navigation

  span
    i(class='icon-search')
    a(href='/') Search
  span
    i(class='icon-upload-cloud')
  span
    i(class='icon-help')
    a(href='/help') Help

  span.right
    i(class='icon-logout')
    a(href='/logout') Logout
  span.right
    i(class='icon-user')
    a(href='/profile') #{user.displayName}
