extends layout

block content

  script(src='/search.js')

  header.search

    nav.user
      i(class='icon-user')
      span #{user.displayName} (<a href="/logout">Log out</a>)

    div.center

      h1 Mammon Search
      p Search the Jornal Oficial da Região Autónoma da Madeira:

      form(action='search')

        fieldset
          input.input(type='search' name='query' autofocus='')
          button.submit(type='submit')
            div
              span Search
              div.loading

        fieldset.options.mode
          strong Mode:
          div
            input(type='radio' name='mode' value='match' checked='')
            label Standard
          div
            input(type='radio' name='mode' value='custom')
            label Custom
          div
            input(type='radio' name='mode' value='fuzzy')
            label Fuzzy
          div
            input(type='radio' name='mode' value='regexp')
            label Regex

        fieldset.options.sorting
          strong Sort:
          div
            input(type='radio' name='sorting' value='date' checked='')
            label Date
          div
            input(type='radio' name='sorting' value='relevance')
            label Relevance

  section.result.center
    block result
